$color_monitor:rgb(157, 156, 156);
$color_screen:rgb(26, 26, 26);
$color_monitor_shadow:rgba(36, 35, 35, 0.7);

$color_text:rgb(255, 182, 72);
$color_text_shadow:rgba(255, 182, 72, 0.425);

$color_scanline:rgb(255, 200, 00);