/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "Press_Start";
  src: url("../assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Unbutu";
  src: url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Courier";
  src: url("../assets/fonts/CourierPrime-Regular.ttf") format("truetype");
}
header {
  font-family: "press_Start";
}
header span {
  font-family: "Courier";
}

footer {
  font-family: "Courier";
}

#fx_snow {
  z-index: 100;
  width: 2500px;
  height: 2500px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/assets/images/noise.png);
  background-repeat: repeat;
  background-size: 30%;
  background-position: center;
  opacity: 0.05;
  overflow: hidden;
  pointer-events: none;
}

#fx_scanline {
  z-index: 150;
  position: absolute;
  top: 5%;
  left: 5%;
  right: 0;
  height: 1%;
  opacity: 0.05;
  background: rgb(255, 200, 0);
  filter: blur(7px);
}

.scanline {
  animation: scanline 1s linear;
}

@keyframes scanline {
  0% {
    top: 5%;
  }
  100% {
    top: 95%;
  }
}
.scanlineReverse {
  animation: scanlineReverse 1.25s linear;
}

@keyframes scanlineReverse {
  0% {
    top: 95%;
  }
  100% {
    top: 5%;
  }
}
.blur {
  animation: blur 2s linear;
}

@keyframes blur {
  0% {
    filter: blur(0.2px);
  }
  10% {
    filter: blur(0px);
  }
  100% {
    filter: blur(0.4px);
  }
}
.skew {
  animation: skew 4s linear;
}

@keyframes skew {
  0% {
    transform: skewX(0.25deg);
  }
  8% {
    transform: skewX(0.5deg) scale(1.0001);
  }
  15% {
    transform: skewX(0.3deg) skewY(-0.05deg);
  }
  30% {
    transform: skewX(0.3deg);
  }
  100% {
    transform: skewX(0.05deg);
  }
}
.blinking {
  animation: blinking 0.5s infinite linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes glow {
  50% {
    transform: scale(1.2);
  }
}
body, html {
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: rgb(157, 156, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/texture4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 182, 72);
  text-shadow: 0 0 10px rgba(255, 182, 72, 0.425);
}

header {
  z-index: 15;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  height: 10%;
  position: absolute;
  top: 5%;
  left: 5%;
}

header h1 {
  margin-left: 2%;
}

header p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#osVersion {
  position: absolute;
  top: 2%;
  right: 2%;
}

main {
  z-index: 10;
  width: 90%;
  min-width: 90%;
  height: 90%;
  margin: 2.5%;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(26, 26, 26);
  border-radius: 2%/90%;
  box-shadow: 0 0 5px 10px rgba(36, 35, 35, 0.7);
  text-shadow: 0 0 10px rgba(255, 182, 72, 0.425);
  color: rgb(255, 182, 72);
}

#screen_texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#screen_texture_img {
  width: 100%;
  height: 100%;
  filter: opacity(8%) grayscale(100%) contrast(75%);
}

#on_off {
  z-index: 250;
  width: 4vw;
  height: 4.5vh;
  position: absolute;
  bottom: 1%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#led_on {
  width: 15px;
  height: 5px;
  background-color: greenyellow;
  box-shadow: 0px 0px 7px greenyellow;
}

#button_on {
  width: 2vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

#button_on_logo {
  width: 70%;
  opacity: 0.4;
  filter: drop-shadow(30px 10px 4px #292929);
}

#button_on:hover {
  cursor: pointer;
}

footer {
  z-index: 15;
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 5%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */